section {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.project {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid gray;
}

.project img {
	flex: 0 0 auto;
	width: 150px;
	height: 150px;
	margin-right: 20px;
}

@media (max-width: 768px) {
  .project img {
		width: 100px;
		height: 100px;
	}
}

.project project-details {
	flex: 1 1 auto;
	text-align: center;
}

.project-details {
	display: flex;
	flex-direction: column;
}
